{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Django Girls Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- 自作CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <!-- ページヘッダー -->
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <!-- コンテンツエリア -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                <!-- ここに各ページの内容が入る -->
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>