{% extends 'blog/base.html' %}

{% block content %}
{% if posts %}
{% for post in posts %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <!-- 記事タイトルをクリックすると詳細ページへ -->
    <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <!-- 承認済みコメント数を表示 -->
    <a href="{% url 'blog:post_detail' pk=post.pk %}">コメント数: {{ post.approved_comments.count }}</a>
</div>
{% endfor %}
{% else %}
<div class="post">
    <h2>No posts yet</h2>
    <p>There are no published posts yet. {% if user.is_authenticated %}<a href="{% url 'blog:post_new' %}">Create the
            first post</a>!{% endif %}</p>
</div>
{% endif %}
{% endblock %}